
.input-tabel {
    display: block;
    text-align: center;
    font-size: 20px;
            }

tr, th ,td{
     border: 1px solid black;
        }
td {
    text-align: center;
}
.input-class {
     font-size: 20px;

            }
.elemen-tabel {
    width: 100%;

        }
.state {
  width: 120px;         
  white-space: nowrap;
}
