.input-tabel {
    display: block;
    text-align: center;
    font-size: 20px;
}

tr, th, td {
    border: 1px solid black;
}
.elemen-tabel thead tr th:nth-child(2) {
    width: 1px;         
    white-space: nowrap;
}

td {
    text-align: center;
    vertical-align: middle;  
    padding: 8px;            
}

.input-class {
    font-size: 30px;
}

.elemen-tabel {
    width: 100%;
    border-collapse: collapse; 
}

.state {
    width: 120px;         
    white-space: nowrap;
}
th:last-child,
td:last-child {
    width: 1px;         
    white-space: nowrap; 
    padding: 4px 8px;    
}
.filter-section {
    display: flex;
    justify-content: flex-end;  
}
span {
    font-size: 16px;
}
.elemen-tabel {
    margin-top: 20px;
}
tbody tr td {
    height: 40px;         
}
    
th {
    background-color: lightgray;
}